<template>

    <ul>
        <li><a v-link="{ name: 'snippetsSave', params: { id: 'create' } }">+ Add</a></li>
        <li v-for="snippet in snippets">
            <a v-link="{ name: 'snippetsSave', params: { id: snippet.id } }">{{ snippet.name }}</a>
            - <a v-link="{ name: 'snippetsView', params: { id: snippet.id }}">code</a>
        </li>
    </ul>

</template>

<script>

    import { actions } from './vuex-actions'

    export default {
        name: 'SnippetsList',

        vuex: {
            getters: {
                snippets: state => {
                    return state.snippets.list
                },
            }
        },

        created() {
            if (! this.snippets.length) {
                // load snippets
                actions.loadAllSnippets(this.$store)
            }
        }
    }

</script>
