<template>

    <validator name="snippets">
        <form class="form-horizontal" novalidate @submit.prevent="saveSnippet(snippet)">
            <fieldset>

                <!-- Form Name -->
                <legend>Call to Action</legend>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Name</label>
                    <div class="col-md-4" :class="isRequiredClass($snippets.name)">
                        <input id="name" name="name" v-validate:name="['required']" v-model="snippet.name" type="text" placeholder="" class="form-control input-md" required="">

                        <span class="help-block" v-if="failedRequired($snippets.name)">Name is required</span>
                    </div>
                </div>

                <!-- Button Drop Down -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="price">Price</label>
                    <div class="col-md-4" :class="isRequiredClass($snippets.price)">
                        <div class="input-group">
                            <input id="price" name="price" v-validate:price="['required']" v-model="snippet.price" class="form-control" placeholder="amount" type="text" required="">
                            <select class="select-picker" v-model="snippet.currency">
                                <option v-for="item in currencies" :value="item.value">
                                    {{ item.text }}
                                </option>
                            </select>
                        </div>
                        <span class="help-block" v-if="failedRequired($snippets.price)">Price is required</span>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="gateway">Gateway</label>
                    <div class="col-md-4">
                        <select id="gateway" name="gateway" class="form-control" v-model="snippet.gateway">
                            <option v-for="option in gateways" :value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="save"></label>
                    <div class="col-md-4">
                        <shake-transition>
                            <button id="save" name="save" class="btn btn-success" @click.prevent="saveSnippet(snippet)">Save</button>
                        </shake-transition>
                    </div>
                </div>

            </fieldset>
        </form>
    </validator>

</template>

<style>

    select.select-picker {
        visibility: hidden;
    }

</style>

<script>

    import { actions } from './vuex-actions'
    import Validator from 'vue-validator'
    import { errorTransitionShake } from '../../helpers/animation'
    import ShakeTransition from '../widgets/shake-transition.vue'


    export default {
        data() {
            return {
                id: this.$route.params.id,
                gateways: [
                    {
                        text: 'Stripe',
                        value: 'stripe'
                    },
                    {
                        text: 'Quaderno.io',
                        value: 'quaderno'
                    }
                ],
                currencies: [
                    {
                        text: 'USD',
                        value: 'usd'
                    },
                    {
                        text: 'EUR',
                        value: 'eur'
                    },
                    {
                        text: 'GBP',
                        value: 'gbp'
                    }
                ],
                snippet: {
                    name: null,
                    price: null,
                    gateway: null,
                    id: null,
                    currency: null,
                },
                errorTransition: '',
                shakeNow: false
            }
        },

        vuex: {
            getters: {
                id: state => state.snippets.id,

                snippets: state => state.snippets,
            },
            actions: {
                saveSnippet(store, data) {
                    var self = this

                    this.$validate(true, function () {
                        if (self.$snippets.valid) {
                            actions.saveSnippet(store, data)

                            self.$router.go({ name: 'snippetsView', params: {id: "1"}})
                        } else {
                            self.$broadcast('shouldShake')
                        }
                    })
                }
            }
        },

        route:  {
            data() {
                Object.assign(this.snippet, this.snippets)
            },
        },

        methods: {
            isRequiredClass($validatorField) {
                return this.failedRequired($validatorField) ? 'has-error' : ''
            },
            failedRequired($validatorField) {
                return $validatorField['required'] && $validatorField['touched']
            }
        },

        components: {
            ShakeTransition
        },

        created() {
            if (this.id) {
                actions.loadSnippet(this.$store, this.id)
            } else {
                actions.loadEmptySnippet(this.$store)
            }
        },

        ready() {
            $('.select-picker').selectpicker()
            setTimeout(() =>$('.select-picker').selectpicker('refresh') , 0)
        },

        name: 'SnippetsSave'
    }

</script>
