<template>
    <validator name="snippets">
        <form class="form-horizontal" novalidate>
            <fieldset>

                <!-- Form Name -->
                <legend>View Snippet</legend>

                <!-- Text input-->
                <div class="row">
                    <h1 class="col-md-4 col-md-push-4">{{ snippet.name }}</h1>
                </div>

                <!-- Button Drop Down -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Price</label>
                    <div class="col-md-4">{{ snippet.price }}</div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-push-4">
                        <h2>Code</h2>
                        <p>Some introductory instructions here.
                        </p>

                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" @click="codeDelivery = 'email'">Send by email</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" @click="codeDelivery = 'copypaste'">Copy / Paste</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Select Basic -->
                <div class="form-group" v-if="codeDelivery">
                    <label class="col-md-4 control-label" for="gateway">Gateway</label>
                    <div class="col-md-4">
                        <select id="gateway" name="gateway" class="form-control" v-model="snippet.gateway">
                            <option v-for="option in gateways" :value="option.value">
                                {{ option.text }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group" v-if="codeDelivery == 'copypaste'">
                    <label class="col-md-4 control-label" for="code">Code</label>
                    <div class="col-md-4">
                        <textarea onfocus="this.select();" class="form-control" rows="14">
&#x3C;!doctype html&#x3E;
&#x3C;html lang=&#x22;en&#x22;&#x3E;
&#x3C;head&#x3E;
    &#x3C;meta charset=&#x22;UTF-8&#x22;&#x3E;
    &#x3C;meta name=&#x22;viewport&#x22;
          content=&#x22;width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0&#x22;&#x3E;
    &#x3C;meta http-equiv=&#x22;X-UA-Compatible&#x22; content=&#x22;ie=edge&#x22;&#x3E;
    &#x3C;title&#x3E;Document&#x3C;/title&#x3E;
&#x3C;/head&#x3E;
&#x3C;body&#x3E;

&#x3C;/body&#x3E;
&#x3C;/html&#x3E;
                        </textarea>

                    </div>
                </div>

                <div class="form-group" v-if="codeDelivery == 'email'">
                    <label class="col-md-4 control-label" for="name">Email</label>
                    <div class="col-md-4">
                        <input id="name" name="name" v-validate:email="['required']" v-model="snippet.email" type="text" placeholder="" class="form-control input-md" required="">

                        <span class="help-block" v-if="failedRequired($snippets.email)">Email is required</span>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group" v-if="codeDelivery == 'email'">
                    <label class="col-md-4 control-label" for="save"></label>
                    <div class="col-md-4">
                        <button id="save" name="save" class="btn btn-success" @click.prevent="saveSnippet(snippet)">Send</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </validator>

</template>

<style>
    select.select-picker {
        visibility: hidden;
    }
</style>

<script>
    import { actions } from './vuex-actions'
    import Validator from 'vue-validator'


    export default {
        data() {
            return {
                id: this.$route.params.id,
                gateways: [
                    {
                        text: 'Stripe',
                        value: 'stripe'
                    },
                    {
                        text: 'Quaderno.io',
                        value: 'quaderno'
                    }
                ],
                currencies: [
                    {
                        text: 'USD',
                        value: 'usd'
                    },
                    {
                        text: 'EUR',
                        value: 'eur'
                    },
                    {
                        text: 'GBP',
                        value: 'gbp'
                    }
                ],
                snippet: {
                    name: null,
                    price: null,
                    gateway: null,
                    id: null,
                    currency: null,
                    email: null,
                },
                codeDelivery: ''
            }
        },

        vuex: {
            getters: {
                id: state => state.snippets.id,

                snippets: state => state.snippets,
            },
            actions: {
                saveSnippet(store, data) {
                    if (this.$snippets.valid) {
                        actions.saveSnippet(store, data)
                    }
                }
            }
        },

        route:  {
            data() {
                Object.assign(this.snippet, this.snippets)
            },
        },

        methods: {
            isRequiredClass($validatorField) {
                return this.failedRequired($validatorField) ? 'has-error' : ''
            },
            failedRequired($validatorField) {
                return $validatorField['required'] && $validatorField['touched']
            }
        },

        created() {
            if (this.id) {
                actions.loadSnippet(this.$store, this.id)
            } else {
                actions.loadEmptySnippet(this.$store)
            }
        },

        ready() {
            $('.select-picker').selectpicker()
            setTimeout(() =>$('.select-picker').selectpicker('refresh') , 0)
        },

        name: 'SnippetsView'
    }
</script>
