<template>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand navbar-brand-centered">Logo</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-brand-centered">
                <ul class="nav navbar-nav">
                    <li><a v-link="{ name: 'snippets' }">Snippets</a></li>
                    <li><a v-link="{ name: 'gateways' }">Gateways</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="app col-md-12">
        <router-view></router-view>
    </div>

</template>

<style>

    .v-link-active {
        font-weight: bold;
    }

</style>

<script>

    import Vue from 'vue'

    Vue.transition('shake',{
        enterClass: 'shake'
    })

    export default {
        name: 'App',
    }

</script>
