<template>

    <div class="col-md-12 center-block">
        <h1 class="text-warning">Oops!</h1>
        <p>Check your url: <em>{{ path }}</em>. Looks like you entered a typo.</p>
    </div>

</template>

<script>

    export default {

        name: 'Error',

        props: {
            path: {
                type: String,
                required: false
            }
        },

        created() {
            // Get the current route.
            let route = this.$route;

            // Set the route path in the data.
            this.path = route.path;
        }
    }

</script>