<template>

    <div :class="shouldShake">
        <slot></slot>
    </div>

</template>

<script>

    export default {
        data(){
            return {
                shakeNow: false
            }
        },

        computed: {
            shouldShake: function () {
                return this.shakeNow ? 'animated shake' : ''
            }
        },

        events: {
            'shouldShake': function () {
                this.$set('shakeNow', false)

                setTimeout(() => this.$set('shakeNow', true), 10)
            },
        },

        name: 'ShakeTransition'
    }

</script>
