<template>

    <ul>
        <li><a v-link="{ name: 'gatewaysView', params: { gateway: 'stripe' } }">Stripe</a></li>
        <li><a v-link="{ name: 'gatewaysView', params: { gateway: 'quaderno' } }">Quaderno.io</a></li>
    </ul>

</template>

<script>

    export default {
        name: 'GatewaysList'
    }

</script>
