<template>

    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>{{ gateway | capitalize }} Configuration</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="key">Public Key</label>
                <div class="col-md-4">
                    <input id="key" name="key" type="text" placeholder="" class="form-control input-md" required="">
                    <span class="help-block">You may find your key <a href="#">here</a></span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="secret">Public Secret</label>
                <div class="col-md-4">
                    <input id="secret" name="secret" type="text" placeholder="" class="form-control input-md" required="">
                    <span class="help-block">You may find your secret <a href="#">here</a></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="save"></label>
                <div class="col-md-4">
                    <button id="save" name="save" class="btn btn-success">Save</button>
                </div>
            </div>

        </fieldset>
    </form>

</template>

<script>

    export default {
        data() {
            return{
                gateway: this.$route.params.gateway
            }
        },
        name: 'GatewaysSave'
    }

</script>
